# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
*.db
*.sqlite
*.sqlite3

# Monitoring logs
network_log.csv
*.log

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.dbv